/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


/* Define Color Variables */
:root {
    --purple: hsl(333, 71%, 21%);
    --tan: hsl(38, 80%, 90%);
    --tanT: hsl(38, 80%, 90%, 90%);
    --blue: hsl(191, 33%, 49%);
    --gold: hsl(39, 87%, 61%);
    --mauve: hsl(336, 43%, 36%);
    --mauveT: hsl(336, 43%, 36%, 70%);
    --mauveO: hsl(336, 43%, 36%, 90%);
}

/* Global Styles for PHONE 
    @media query for DESKTOP are at the bottom.
    @media query for PRINT is at the bottom. 
*/
body {
    background: url(assets/pvl-crow-in-the-grass-2-1200.jpg);
    background-repeat:no-repeat;
    background-attachment: 0 auto;  
    background-position: center 0px;  
    background-size: 700px auto;
    background-color:var(--purple);
    font-family: "Abel", sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    color:var(--gold);
    margin:0 auto;
    width:100%;
}
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the page takes full height */
}
a {
    text-decoration: none;
    color: var(--gold); /* Same color as headings */
}

a:hover {
    color: var(--tan); 
}

/* Header Styling */
header {
    width: 100%;
    padding: 5%;
    margin:0 auto 100px auto;
    text-align:left;
}

header h1 {
    color: var(--gold);
    animation: fadeInOut 3s ease-in-out;
}

header p  {
    margin:0;
    padding:0;
    color:var(--gold);
    animation: fadeInOut 3s ease-in-out;
}


/* Icon section */
.purchaseIcons {
    font-size: 24px;
    display: flex;
    gap: 10px; 
    color:var(--mauve)
}

/* Main Content */
main {
    flex: 1; 
    margin: 0 auto;
    width: 100%;
    background-color: var(--blue);
    padding: 2% 5%;
    text-align: center;
}
.float {float:left;}


/* Footer */
footer {
    width: 100%;
    background-color: var(--mauve);
    padding: 3%;
    align-items:left;
    text-align: left;
    padding:1%;
    position:fixed;
    bottom:0px;
}
footer p {
    color: var(--gold); 
    font-size: 0.9em;
}
footer nav a {
margin:0 1%;
text-decoration:underline;
 
}
/* Typography */
h1, h2, h3, h4, h5 {
    font-weight:900;
    margin:0;
    padding:0;
}

h1 {
    font-family: 'Fredericka the Great', serif;
    font-weight: 400;
    font-style: normal;
}
h3 {text-align:right;}
/* Fix gallery centering */
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin:0 0 0 -5%;
    padding:0 0 0 0;
}

/* Ensure images scale properly */
.gallery figure {
    width: 270px;
}

/* Fix text color in gallery captions */
.gallery figcaption,
.gallery figcaption strong {
    line-height:1.2;
}
.gallery figcaption strong {
    font-weight:900;
    font-size:1.3em;
}
.gallery img {
    width: 100%;
    border-radius: 10px;
    border:10px solid var(--purple);
}

/* MODAL */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    max-width: 500px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}
.modal-image {
    max-width: 100%;
    margin-bottom: 0;
}


/* Add to cart button */
button,
.close-modal-btn,
.purchaseLink  {
    /* display:block; */
    margin:3%;
    padding:2%;
    background-color: var(--mauveT);
    color: var(--tan);
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
}
button:hover,
.close-modal-btn:hover,
.purchaseLink:hover {
    background-color: var(--tan);
    color: var(--mauve);
    box-shadow: 3px 3px 3px var(--blue);
}
 
/* Fancy Buttons  MAIN NAV */
.fancyButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.fancyButtons a {
    color: var(--gold); 
    background-color: var(--mauveT);
    padding: 4px 8px;
    /* margin-bottom:-30px; */
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.2);
    font-weight: bold;
}

.fancyButtons a:hover {
    background-color: var(--tanT);
    color:var(--mauve);
}



/* SHOPPING CART */

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }
.cart-notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #28a745; /* Green background */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s ease-in-out;
  }

.cart-container {
    width: 84%; 
    margin: 0; 
    text-align: center;
    border-radius: 10px;
    border:5px solid var(--purple);
    background-color:var(--tan);
    color:var(--blue);
}
.cart-container table {width:100%; border-collapse:collapse;}
.cart-container tr td {border:1px solid var(--blue)}
.cart-container, .cart-items, .cart-item {
    padding: 2%; 
}
.cart-container h2 {
    margin: 1% 0 0 2%;
    font-family: 'Fredericka the Great', serif;
    text-align:left;
}
.cart-container figure {width:50%;}
.cart-container figure img {width:100%;}
.cart-actions {
    margin: 2% 0 0 50%;
  }
  
  .cart-actions a {
    margin: 3%;
    text-align:right;
    font-size: 18px;
    color:var(--blue);
    font-weight:900;
  }
  
  .cart-items {
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
  }
  .cart-items h3 {text-align:center;}
  
  .cart-item {
    /* display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #ddd; */
  }
  
  .cart-item-thumbnail {
    width:200px;
  }
  
  .cart-item-details {
    /* flex-grow: 1; */
  }
  
  .cart-price {
    /* font-size: 18px;
    color: #111; */
  }
  
  .cart-stock {
    /* color: green;
    font-size: 14px;
    font-weight: bold; */
  }
  
  .cart-item-actions {
    /* display: flex;
    align-items: center;
    gap: 10px; */
  }
  
  .cart-item-actions button, 
  .checkout-button {
      /* font-size: 1.2rem; 
      padding: 12px 20px;  */
  }
  
  
  .cart-remove {
    /* color: var(--gold);
    font-size: 14px;
    border: none;
    background: none;
    cursor: pointer; */
  }

  .cart-remove:hover {
    /* color: var(--tan);
    background: none; */
  }
  
  .cart-summary {
    margin-bottom: 100px;
 
  }
  .cart-summary li {
    list-style:none;
    font-size:150%;
  }
  .checkout-button {
    /* padding: 10px 15px; 
    background-color: var(--mauveT);
    color: var(--tan);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem; */
}

.checkout-button:hover {
    /* background-color: var(--tan);
    color: var(--mauve);
    box-shadow: 3px 3px 3px var(--blue); */
}

  
  /* Buttons Section - Aligns Add to Cart & View Cart */
.button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

/* Add to Cart Button */
.add-to-cart-btn {
    /* background-color: var(--mauveT);
    color: var(--tan);
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;*/
} 

.add-to-cart-btn:hover {
    /* background-color: var(--tan);
    color: var(--mauve);
    box-shadow: 3px 3px 3px var(--blue); */
}

/* View Cart Button */
.view-cart-btn {
    /* background-color: var(--gold);
    color: var(--purple);
    border-radius: 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px; */
}

.view-cart-btn:hover {
    /* background-color: var(--tan);
    color: var(--purple); */
}


/* Responsive Styles for TABLET  ---------------------------------------*/
@media screen and (min-width: 700px) {
    body {
        background-size: 900px auto;
        background-position: center -80px;  
    }
    header { margin-left:0;}

}


/* Responsive Styles for DESKTOP  ---------------------------------------*/
@media screen and (min-width: 900px) {
    body {
        background-size: 1100px auto;
    }
    header {
        margin-left:15%;
    }
    header, main, footer { width: 140%;}
    main {padding-left:100px;}

    .cart-icon {
        font-size: 16px; 
    }
    .purchaseIcons {
        font-size: 20px; 
    }
    .cart-container {
        width: 40%;
        margin-left:10%;
    }
}

/* PRINT STYLES */

@media print { 
    #tabs label {color:black; border-color:gray;}
} 